<div class="row">
  <div class="col-md-3">
    <div class="row ml-5 ellipse d-none mt-2 d-md-flex justify-content-center align-items-center">
      <h5 class="cp pt-1">MS</h5>
    </div>
    <ul class="ml-md-5 ml-0 intro d-flex flex-md-column mb-xs-0 pb-xs-0">
      <li class="pr-md-0 pr-3"><a href="/#about">About</a></li>
      <li class="pr-md-0 pr-3"><a href="#portfolio">Projects</a></li>
      <li class="pr-md-0 pr-3"><a href="#contact">Contact</a></li>
    </ul>
  </div>
  <div class="wrapper-el ml-md-0 ml-3 mr-3 mr-md-0 d-flex flex-column justify-content-center align-items-center pt-5 mt-1 col-md-9 page-header">
    <div class="d-sm-block d-none custom-shape-divider-bottom-1605703852">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
        <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
        <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
      </svg>
    </div>
    <h5 class="name-section pb-4 ">Marylene Sawyer</h5>
    <h6 class="occupation pb-5">Software developer</h6>
    <article class="rectangle-icons mb-5 d-flex pt-3  mt-5 pl-3 pr-3">
      <div>
        <a href="https://github.com/Bluette1" target="_blank"><i class="fab fa-github github-icon"></i></a>
        <a href="https://twitter.com/MaryleneSawyer" target="_blank"><i class="fab fa-twitter twitter-icon"></i></a>
        <a href="https://www.linkedin.com/in/marylene-sawyer-b4ba1295/" target="_blank"><i class="fab fa-linkedin-in linkedin-icon pr-4"></i></a>
        <a href="https://angel.co/u/marylene-sawyer" target="_blank"><i class="fab fa-angellist angellist-icon"></i></a>
        <a href="https://medium.com/@marylene.sawyer" target="_blank"><i class="fab fa-medium medium-icon pr-4"></i></a>
        <a href="https://dever.marylene.space/" target="_blank"><i class="fab fa-blogger blogger-icon"></i></a>
      </div>
    </article>
  </div>
</div>
<div class="row">
  <div class="col-md-3 col-12"></div>
  <article class="col-md-9 col-12">
    <div class="row">
      <h5 id="about" class="about-title col-12 pt-3 mb-5">About</h5>
      <h6 class="details-about ml-sm-0 col-md-10 col-12">Hello, I am an experienced software developer and can help you build your product, feature, or website. I am passionate about technology and software development and always open to trying new tech stacks. I invite you to check out my portfolio of recent projects and feel free to contact me if you have any questions.
        <h6>
        </div>
        <div class="row">
          <h5 id="portfolio" class="portfolio-title col-12 pt-3 mb-5">Projects</h5>
            <div class="project-grid col-md-5 mt-md-0 mt-4 col-12">
                <a class="project-1" href="https://mcalc-app.herokuapp.com/" target="_blank"></a>
                <article class="article-description ml-3 m-md-0 ml-md-0">
                  <h6 class="pt-4 article-description-text">This project is an implementation of a basic 4-function calculator application using React.js.</h6>
                  <h5><span class="tech">Technologies:</span><span class="tech-stack"> Javascript, React, HTML, CSS<span></h5>
                      <article class="d-flex pt-2">
                        <h5 class="pr-4 text-capitalize text-capitalize"><a href="https://mcalc-app.herokuapp.com/" target="_blank">View project site</a></h5>
                        <h5 class="text-capitalize text-capitalize"><a href="https://github.com/Bluette1/calculator" target="_blank">View source code</a></h5>
                      </article>
                    </article>
              </div>
            <div class="project-grid col-md-5 mt-md-0 mt-4 col-12">
                <a class="project-2" href="https://accurate-weather-app.herokuapp.com/" target="_blank"></a>
                <article class="article-description ml-3 m-md-0 ml-md-0">
                  <h6 class="pt-4 article-description-text">This project is an implementation of a weather-app web page.</h6>
                  <h5><span class="tech">Technologies:</span><span class="tech-stack"> Javascript, HTML, CSS<span></h5>
                      <article class="d-flex pt-2">
                        <h5 class="pr-4 text-capitalize text-capitalize"><a href="https://accurate-weather-app.herokuapp.com/" target="_blank">View project site</a></h5>
                        <h5 class="text-capitalize text-capitalize"><a href="https://github.com/Bluette1/weather-app" target="_blank">View source code</a></h5>
                      </article>
                    </article>
                  </div>
          <div class="project-grid col-md-5 col-12 pt-5">
            <a class="project-3 " href="https://thoughtstar-app.herokuapp.com/" target="_blank"></a>
            <article class="article-description ml-3 m-md-0 ml-md-0">
              <h6 class="pt-4 article-description-text">This project was about implementing a site similar to today's Twitter, where users can share their thoughts and ideas and follow other users.</h6>
              <h5><span class="tech">Technologies:</span><span class="tech-stack"> Ruby, Rails, HTML, CSS<span></h5>
                  <article class="d-flex pt-2">
                    <h5 class="pr-4 text-capitalize text-capitalize"><a href="https://thoughtstar-app.herokuapp.com/" target="_blank">View project site</a></h5>
                    <h5 class="text-capitalize text-capitalize"><a href="https://github.com/Bluette1/thoughtstar" target="_blank">View source code</a></h5>
                  </article>
                </article>
              </div>
              <div class="project-grid col-md-5 mt-md-0 mt-4 col-12 pt-5">
                <a class="project-4" href="https://recipe-catalog-app.herokuapp.com/" target="_blank"></a>
                <article class="article-description ml-3 m-md-0 ml-md-0">
                  <h6 class="pt-4 article-description-text">A simple recipe catalogue application built using React and Redux.</h6>
                  <h5><span class="tech">Technologies:</span><span class="tech-stack"> Javascript, HTML, CSS, React, Redux<span></h5>
                      <article class="d-flex pt-2">
                        <h5 class="pr-4 text-capitalize text-capitalize"><a href="https://recipe-catalog-app.herokuapp.com/" target="_blank">View project site</a></h5>
                        <h5 class="text-capitalize text-capitalize"><a href="https://github.com/Bluette1/recipe-catalogue" target="_blank">View source code</a></h5>
                      </article>
                    </article>
                  </div>
                  <div class="project-grid col-md-5 mt-md-0 mt-5 pt-5 col-12">
                    <a class="project-5" href="https://holiday-homes-website.herokuapp.com/" target="_blank"></a>
                    <article class="article-description ml-3 m-md-0 ml-md-0">
                      <h6 class="pt-4 article-description-text">A simple holiday homes website application built using React and Redux.</h6>
                      <h5><span class="tech">Technologies:</span><span class="tech-stack"> Javascript, HTML, CSS, React, Redux<span></h5>
                          <article class="d-flex pt-2">
                            <h5 class="pr-4 text-capitalize text-capitalize"><a href="https://holiday-homes-website.herokuapp.com/" target="_blank">View project site</a></h5>
                            <h5 class=" text-capitalize text-capitalize"><a href="https://github.com/Bluette1/holiday-homes-website" target="_blank">View source code</a></h5>
                          </article>
                        </article>
                      </div>
                      <div class="project-grid col-md-5 mt-md-0 mt-5 pt-5 col-12">
                        <a class="project-6" href="https://t.me/xextris_bot" target="_blank"></a>
                        <article class="article-description ml-3 m-md-0 ml-md-0">
                          <h6 class="pt-4 article-description-text">This is a date checker. It keeps track of all your important events, such as birthdays, anniversaries, etc, and sends out message notifications.</h6>
                          <h5><span class="tech">Technologies:</span><span class="tech-stack"> Ruby, Rails, Telegram<span></h5>
                              <article class="d-flex pt-2">
                                <h5 class="pr-4  text-capitalize text-capitalize"><a href="https://t.me/xextris_bot" target="_blank">View project site</a></h5>
                                <h5 class=" text-capitalize text-capitalize"><a href="https://github.com/Bluette1/minderly_bot" target="_blank">View source code</a></h5>
                              </article>
                            </article>
                          </div>
                          <div>
                            <article class="row pl-md-0 pl-5 ">
                              <a class="get-my-resume mt-5 align-items-center" href="https://docs.google.com/document/d/1kwbY43uIdD2Cd1YKiO68z1PsbY51JyVQUV_QWI75DOY/edit?usp=sharing" target="_blank">Get my resume</a>
                            </article>
                            <div class="row centered-posn ml-3 ml-md-0 mr-3 mr-md-0">
                              <article class="col-md-3 col-12 languages">
                                <h5 class="languages-title pt-3 mt-4 pb-4">Languages</h5>
                                <div class="languages-list">
                                  <ul>
                                    <li>JavaScript</li>
                                    <li>HTML</li>
                                    <li>Ruby</li>
                                    <li>CSS</li>
                                    <li>(ES5/ES6) </li>
                                  </ul>
                                </div>
                              </article>
                              <article class="col-md-3 frameworks">
                                <h5 class="frameworks-title pt-3 mt-4 pb-4">Frameworks</h5>
                                <div class="frameworks-list">
                                  <ul>
                                    <li>Bootstrap</li>
                                    <li>Ruby on Rails</li>
                                    <li>RSpec</li>
                                    <li>Node.js</li>
                                    <li>React/Redux</li>
								    <li>Jest</li>
                                  </ul>
                                </div>
                              </article>
                              <article class="col-md-3 skills">
                                <h5 class="skills-title pt-3 mt-4 pb-4">Skills</h5>
                                <div class="skills-list">
                                  <ul>
                                    <li>Bootstrap</li>
                                    <li>Bulma</li>
                                    <li>Codepen</li>
                                    <li>Github</li>
                                    <li>Gitlab</li>
                                  </ul>
                                </div>
                              </article>
                              <article class="">
                                <h5 class="interested-title pt-5 pb-5 mb-2">Interested in collaborating?</h5>
                                <div class="interested-content col-md-9 pl-0 mt-3 mb-3">
                                  If you have an application you are interested in developing, a feature that you need to be built or a project that needs coding, I’d love to help you with it.
                                </div>
                              </article>
                            </div>
                          </div>
                        </div>
                      </article>
                    </div>
                    <div class="row pl-md-0 pl-3">
                      <div class="col-md-3 col-xs-12"></div>
                      <div class=" col-md-9 wrapper-el col-xs-12 mt-5 footer-shape justify-content-center">
                        <div class="d-sm-block d-none custom-shape-divider-top-1605710007">
                          <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                            <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
                            <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
                            <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
                          </svg>
                        </div>
                        <div class="footer m-5 p-sm-5 p-0">
                          <form action="https://send.pageclip.co/KJrEbSSf9FOiBkMCwekdHVh5VVpjKYYL" class="pageclip-form row mt-5 ml-xl-n5 pl-2 pr-2 justify-content-between pt-5" method="post" action="/">
                            <input class="name-email col-md-5 mb-2" type="text" id="name" name="name" value="Your name">
                            <input class="email col-md-5" type="text" id="email" name="Marylene Sawyer" value="marylene.sawyer@gmail.com">
                            <input class="message col-12 mt-4" type="text" id="message" name="message" value="Message*">
                            <input id ="contact" class="pageclip-form__submit mt-4 pl-5 pr-5 mb-5 get-in-touch" type="submit" value="Get in touch">
                            <span>Send</span>
                            <label class="my-email pt-5 pb-5">marylene.sawyer@gmail.com</label>
                          </form>
                          <a href="https://github.com/Bluette1" target="_blank"><i class="ml-xl-n5 fab fa-github footer-github-icon"></i></a>
                          <a href="https://twitter.com/MaryleneSawyer" target="_blank"><i class="fab fa-twitter footer-twitter-icon"></i></a>
                          <a href="https://www.linkedin.com/in/marylene-sawyer-b4ba1295/" target="_blank"><i class="fab fa-linkedin-in footer-linkedin-icon"></i></a>
                          <a href="https://angel.co/u/marylene-sawyer" target="_blank"><i class="fab fa-angellist footer-angellist-icon"></i></a>
                          <a href="https://medium.com/@marylene.sawyer" target="_blank"><i class="fab fa-medium footer-medium-icon"></i></a>
                          <a href="https://dever.marylene.space/" target="_blank"><i class="fab fa-blogger footer-blogger-icon"></i></a>
                        </div>
                      </div>
                      <div>
