<div class="row body flex justify-content-center body-details">
  <div class="col-md-3 col-lg-2">
    <div class="row ml-5 d-none ellipse mt-2 d-xl-flex justify-content-center align-items-center">
      <h5 class="cp pt-1">MS</h5>
    </div>
    <ul class="row ml-md-5 intro d-flex flex-md-column">
      <li class="pr-md-0 pr-3"><a href="/details#details">Details</a></li>
      <li class="pr-md-0 pr-3"><a href="/">Main</a></li>
    </ul>
  </div>
  <article class="row d-block d-lg-flex col-md-9 col-lg-10 page-header-details justify-content-center">
    <h5 class="words">
      Exceptional design for ambitious companies
    </h5>
    <div class="row d-md-flex mt-5 pt-4 justify-content-between">
      <button class="ml-sm-0 ml-5 mr-5 mb-5 see-live d-sm-none d-xs-block d-xl-flex align-items-center justify-content-center pt-3">
        <a href="/#portfolio" class="see-live-content" >See live</a>
      </button>
      <button class="see-source mb-5 d-none pb-xs-5 mb-xs-5 d-xl-flex align-items-center justify-content-center pt-3">
        <a class="see-source-content" href="https://github.com/Bluette1" target="_blank">See source</a>
      </button>
      <div>
      </article>
      <div class="col-md-4"></div>
      <article class="pt-5 mt-5 mt-sm-0 md-md-flex justify-content-between col-lg-8 pt-4">
        <h5 class="about-me ml-sm-0 ml-4 brand-section mt-4 mt-sm-0 pt-5">Marylene Sawyer</h5>
      </article>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-lg-8 d-flex justify-content-center">
          <div class = "ml-sm-0 ml-5 languages-section row pt-5 col-xs-12 mt-5">
            <div class="html-css-btn mr-2">
              <div class="html-css pt-1 pl-2">HTML/CSS</div>
            </div>
            <div class="ror-btn mr-2">
              <div class="ror pt-1">Ruby on Rails</div>
            </div>
            <div class="javascript-btn">
              <div class="javascript pt-1 mt-xs-5">Javascript</div>
            </div>
            <div class="row col-12">
              <div id="details" class="details-about ml-sm-0  pt-3  mt-5 pb-5 pt-5 mb-5 details-details w-75 pb-xs-5 ">
                Since I discovered my passion for technology and software development, I have sought ways to increase my knowledge and earn valuable experience in this field. My background education is in Technology; I have a BSc degree in Computer Science. Nonetheless, I believe that learning ought to be a life-long pursuit. I am a well-rounded person, naturally curious, and eager to inspire and impart my passion for learning to those I come into contact with. I am currently enrolled at Microverse - a school for remote developers, and I'm looking for my next job opportunity. In summary, I enjoy all things code-related - writing, reviewing, and testing code.  
              </div>
            </div>
            <div class="col-12 d-sm-flex justify-content-center pb-5 pt-lg-0 pt-5 d-none">
              <div class="mt-lg-3 talk-btn d-flex align-items-center justify-content-center pl-5">
                <a class="talk" href="/#contact">Let's talk</a></div>
            </div>
            <div>
            </div>
          </div>
        </div>
