.page-header {
  background: linear-gradient(234.04deg, #2f19a7 0%, #4052f0 71.02%), url(asset_path('shutterstock.png'));
  background-blend-mode: screen;
}

.name-section {
  font-style: normal;
  font-weight: bold;
  font-size: 88px;
  line-height: 105.3%;
  color: #fff;
}

.rectangle-icons {
  background: #fff;
  border-radius: 60px;
}

.occupation {
  height: 29px;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 165.3%;
  color: #fff;
}

.description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}

.works-social-media {
  width: 254px;
  height: 34px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #4f5461;
}

.github-icon {
  width: 27.46px;
  height: 27px;
}

.twitter-icon {
  width: 27px;
  height: 22.31px;
}

.linkedin-icon {
  width: 16.16px;
  height: 16.28px;
}

.angellist-icon {
  width: 28px;
  height: 28px;
}

.medium-icon {
  width: 16.16px;
  height: 16.28px;
}

.blogger-icon {
  width: 16.16px;
  height: 16.28px;
}

.portfolio-title,
.about-title {
  width: 531px;
  height: 29px;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 105.3%;
  color: #4f5461;
}

.article-description {
  grid-column: span 1;
  grid-row: 5/6;
}

.view-projects a {
  font-size: medium;
  text-decoration: underline;
}

.tech.color-pink,
.details-about .color-pink {
  color: #fa4969;
}

.details-about .colour-bluish {
  color: #4052f0;
}

.article-description-text {
  line-height: 1.5rem;
}

.project-1 {
  grid-column: span 1;
  height: 370px;
  background: linear-gradient(180deg, rgba(7, 7, 7, 0.15) 0%, rgba(0, 0, 0, 0) 98.35%), url(asset_path('screenshot-calc.png')) 8% 10% no-repeat;
  background-size: cover;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  border-radius: 10px;
}

.project-2 {
  grid-column: span 1;
  height: 370px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 98.35%), url(asset_path('screenshot-weatherapp.png')) 8% 37% no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.project-3 {
  height: 370px;
  background: linear-gradient(180deg, rgba(7, 7, 7, 0.15) 0%, rgba(0, 0, 0, 0) 98.35%), url(asset_path('thoughtstar.png')) 0% 16% no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.project-4 {
  height: 370px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 98.35%), url(asset_path('screenshot-star-wars-data-app')) 0% 0% no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.project-5 {
  height: 370px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 98.35%), url(asset_path('screenshot-holiday-homes.png')) 1% 12% no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.project-6 {
  height: 370px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 98.35%), url(asset_path('xextris.png')) 50.5% 32% no-repeat;
  background-size: cover;
  border-radius: 10px;
}

.about-me {
  width: 122px;
  height: 29px;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 105.3%;
  color: #4f5461;
}

.details-about {
  line-height: 22px;
}

.details {
  width: 405px;
  height: 111px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #737986;
}

.get-my-resume {
  padding: 30px;
  background: #fa4969;
  border-radius: 60px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 105.3%;
  display: flex;
  align-items: center;
  color: #fff;
}

.get-my-resume:hover {
  text-decoration: none;
  color: #fff;
}

.languages-title {
  width: 109px;
  height: 23px;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 105.3%;
  color: #4f5461;
}

.languages-list {
  width: 211px;
  height: 194px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 242.5%;
  color: #737986;
}

.languages-list ul,
.frameworks-list ul,
.skills-list ul {
  list-style: none;
  padding-left: 0;
}

.languages,
.frameworks,
.skills {
  margin: 5px;
  margin-top: 35px;
  height: 340px;
  background: #f5f8fd;
  border-radius: 10px;
}

.frameworks-title {
  width: 122px;
  height: 23px;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 105.3%;
  color: #4f5461;
}

.frameworks-list {
  width: 217px;
  height: 232px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 242.5%;
  color: #737986;
}

.skills-title {
  width: 55px;
  height: 23px;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 105.3%;
  color: #4f5461;
}

.skills-list {
  width: 216px;
  height: 232px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 242.5%;
  color: #737986;
}

.interested-title {
  height: 29px;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 105.3%;
  color: #4f5461;
}

.interested-content {
  height: 84px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #737986;
}

.footer-shape {
  background: linear-gradient(234.04deg, #2f19a7 0%, #4052f0 71.02%);
}

.message {
  height: 185px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.07);
  box-sizing: border-box;
  box-shadow: 0 7px 15px rgba(95, 104, 186, 0.13);
  border-radius: 14px;
}

.name-email {
  height: 59px;
  background: #fff;
  border: 1px solid #accdff;
  box-sizing: border-box;
  box-shadow: 0 7px 15px rgba(95, 104, 186, 0.13);
  border-radius: 14px;
}

.email,
.your-address {
  height: 59px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.07);
  box-sizing: border-box;
  box-shadow: 0 7px 15px rgba(95, 104, 186, 0.13);
  border-radius: 14px;
}

.get-in-touch {
  height: 59px;
  background: #fa4969;
  border-radius: 60px;
  color: #fff;
  border-color: transparent;
}

.get-my-resume a:hover {
  text-decoration: none;
}

.get-in-touch-message a:hover {
  text-decoration: none;
}

.my-email {
  height: 34px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #c5cbfe;
}

.footer-github-icon {
  width: 27.46px;
  height: 27px;
  color: #fff;
}

.footer-twitter-icon {
  width: 27px;
  height: 22.31px;
  color: #fff;
}

.footer-linkedin-icon {
  width: 16.16px;
  top: 2987px;
  color: #fff;
}

.footer-angellist-icon {
  width: 27px;
  color: #fff;
}

.footer-medium-icon {
  width: 27px;
  color: #fff;
}

.footer-blogger-icon {
  width: 27px;
  height: 16.28px;
  color: #fff;
}

form input[type="text"] {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #737986;
  padding-left: 10px;
}

.project-grid {
  display: grid;
}

.tech-stack {
  color: #4052f0;
  font-size: 1rem;
}

.tech {
  color: #4052f0;
}

.custom-shape-divider-bottom-1605703852 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1605703852 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1605703852 .shape-fill {
  fill: #fff;
}

.wrapper-el {
  position: relative;
}

.custom-shape-divider-top-1605710007 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1605710007 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1605710007 .shape-fill {
  fill: #fff;
}

@media (min-width: 768px) {
  .page-header {
    height: 676px;
  }

  .view-projects a {
    font-size: small;
  }
}

@media (min-width: 992px) {
  .view-projects a {
    font-size: large;
  }
}

@media (max-width: 575.98px) {
  .occupation {
    font-size: 20px;
  }

  .name-section {
    font-size: 35px;
  }

  .description {
    font-size: 12px;
  }

  .get-my-resume {
    margin-top: 7.5rem !important;
  }

  .centered-posn {
    display: grid;
    place-items: center;
  }
}

@media (max-width: 320px) {
  .project-1 {
    grid-column: span 1;
    height: 370px;
    background: linear-gradient(180deg, rgba(7, 7, 7, 0.15) 0%, rgba(0, 0, 0, 0) 98.35%), url(asset_path('screenshot-calc.png')) 17% 16% no-repeat;
    background-size: cover;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    border-radius: 10px;
  }

  .project-2 {
    grid-column: span 1;
    height: 370px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 98.35%), url(asset_path('screenshot-weatherapp.png')) 8% 31% no-repeat;
    background-size: cover;
    border-radius: 10px;
  }

  .project-3 {
    height: 370px;
    background: linear-gradient(180deg, rgba(7, 7, 7, 0.15) 0%, rgba(0, 0, 0, 0) 98.35%), url(asset_path('thoughtstar.png')) 8.5% 16% no-repeat;
    background-size: cover;
    border-radius: 10px;
  }

  .project-4 {
    height: 370px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 98.35%), url(asset_path('screenshot-star-wars-data-app')) 49% 0% no-repeat;
    background-size: cover;
    border-radius: 10px;
  }

  .project-5 {
    height: 370px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 98.35%), url(asset_path('screenshot-holiday-homes.png')) 5% 12% no-repeat;
    background-size: cover;
    border-radius: 10px;
  }

  .project-6 {
    height: 370px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 98.35%), url(asset_path('xextris.png')) 50.5% 32% no-repeat;
    background-size: cover;
    border-radius: 10px;
  }
}

@media (max-width: 823px) {
  .name-section {
    font-size: 45px;
  }
}

@media (max-width: 362px) {
  .name-section {
    font-size: 35px;
  }
}
